* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.barra_lateral {
    position: absolute;
    width: 7vw;
    height: 100vh;
    background-color: #0d504c;
}

.contenido_principal {
    margin-left: 7vw;
    width: 93vw;
    height: 100vh;
    background-color: #EDF9F2;
}

i {
    font-size: 5vh;
    color: #27AE80;
}

.barra_lateral > div {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 2vw;
}

div:first-child{
    margin-bottom: 50vh;
}